<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:c4yewttdfc.database.windows.net;Database=tools_database;User ID=admin_login@c4yewttdfc;Password=T120B029toolsai;Trusted_Connection=False;Encrypt=True;" providerName="System.Data.SqlClient" />
</connectionStrings>