<?xml version="1.0" encoding="utf-8"?>

<connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:nibd2r9euf.database.windows.net,1433;Database=MobileBookStore;User ID=MobileBookStore@nibd2r9euf;Password=Password!@#;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>