@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mobile Book Store</h1>
    <p class="lead">Welcome to the Online Mobile Book Store!.</p>
    <p>View our book selection by @Html.ActionLink("Logging in","Login","Login") or @Html.ActionLink("Registering", "Register", "Login")</p>
</div>